<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Monopoly</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GameAction</servlet-name>
    <servlet-class>actions.GameAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameAction</servlet-name>
    <url-pattern>/gameAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitGameAction</servlet-name>
    <servlet-class>actions.InitGameAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitGameAction</servlet-name>
    <url-pattern>/initGameAction</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>GetUpdateAction</servlet-name>
    <servlet-class>actions.GetUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUpdateAction</servlet-name>
    <url-pattern>/getUpdateAction</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>init.ApplicationInitializer</listener-class>
  </listener>
</web-app>