div#new{float:left;width:504px; background:rgba(226,0,0,0.55);border-radius:15px;height:270px;position:relative;margin-left:350px;text-align:center;margin-top:255px}
img#maskbg{margin-left:350px}
div#submit{margin-left:50px;background:rgba(226,0,0,0.55);width:350px; height:514px;float:left;margin-top:10px; position:relative; border-radius:15px}
.textfeld{width:900px; margin-left:50px;margin-top:25px;background:rgba(226,0,0,0.55);border-radius:15px;}
.textfeldcontent{padding-left:20px;padding-top:10px;padding-bottom:10px;padding-right:10px}
a{color:#ffeb80;font-size:8pt;}

body{background-image:url(img/background.png);position:absolute;width:100%;height:100%;background-size:cover;color:#ffeb80;font-size:14pt;font-family:"Helvetica"}
div#menu, div#menuright{float:left;width: 400px; height:750px;margin-top:10px; position:relative}
div#mainbrett{float:left;width:750px;margin-top:10px;}
div#bretto{clear:left; float:left} 
div#brettl{clear:left;float:left}
div#dialog{float:left;width:504px; heigth:450px;text-align:center;position:relative;}
div#brettr{float:left}
div#brettu{clear:both; float:left}
div#menu div#konto~div{margin-top:40px;}
div#menu img, div#menuright img, div#submit img{z-index:-100;position:absolute;}
div#menu div, div#menuright div {float:none; position:relative;z-index:100; padding-top:10px; padding-left:10px;}
div[id^=brett] div{ border-width:1; border-style:solid; border-color:black;}
div[id^=brett] div img{z-index:-100}
.aussen{width:70px; height:70px;float:left}
.vert{float:left; width:50px; height:70px}
.hor{float:none; width:70px; height:50px}
.field img{position:absolute; z-index:-100}

.diabg{position:absolute; left:0; top:0;z-index:-100;}
div#dialog div#message{text-align:center;margin-top:300px;z-index:100}





