div#new{float:left;width:504px; height:280px;position:relative;margin-left:350px;text-align:center;margin-top:-1px}
img#logo{margin-left:350px; float:left}
div#submit{margin-left:70px;width:350px; height:524px;float:left;top:10px; position:relative;}
.textfeld{width:900px; margin-left:50px;margin-top:25px;margin-bottom:25px;}
.textfeldcontent{padding-left:20px;padding-top:10px;padding-bottom:10px;padding-right:10px}
a{color:#ffeb80;font-size:8pt;}
div#login{float:left; width:850px}
.textbg{background:rgba(226,0,0,0.55);border-radius:15px;}
.button{background:rgba(226,50,10,1);border-width:1; border-style:solid; border-color:#ffeb80;color:#ffeb80;border-radius:5px;font-size:12pt;font-family:"Helvetica";min-width:120px;text-align:left}
.button:hover{background:rgba(200,100,10,1)}
.button:active{background:rgba(200,140,10,1)}
.left{margin-left:20px}

body{background-image:url(img/background.png);background-attachment:fixed;background-repeat:no-repeat;position:absolute;width:100%;height:100%;background-size:cover;color:#ffeb80;font-size:14pt;font-family:"Helvetica"; min-width:1500px}
div#menu, div#menuright{float:left;width: 350px; height:600px;margin-top:10px; margin-left:10px;position:relative;}
div#mainbrett{float:left;width:650px;margin-top:10px;margin-left:70px;margin-right:10px}
div#bretto{clear:left; float:left} 
div#brettl{clear:left;float:left}
div#dialog{float:left;width:459px;position:relative;}
img#diabg{position:absolute; left:0; top:0;z-index:-100;width:459px; heigth:430px;}
div#dialog div#message{text-align:center;margin-top:300px}
div#brettr{float:left}
div#brettu{clear:both; float:left}
div#menu *, div#menuright * {float:none; position:relative;padding-top:10px; padding-left:10px;}
.field, .bsp{ border-width:1; border-style:solid; border-color:black;background-size:cover}
.aussen, .aussen *{width:65px; height:65px;float:left}
.vert, .vert *{float:left; width:45px; height:65px}
.hor, .hor *{float:none; width:65px; height:45px}
.layer:hover{background:rgba(255,235,128,0.4)}

div#field_0{background-image:url(img/felder/los.png)}
div#field_1, div#field_3{background-image:url(img/felder/sfbraun.png)}
div#field_2{background-image:url(img/felder/gemeinoben.png)}
div#field_4{background-image:url(img/felder/steueroben.png)}
div#field_5{background-image:url(img/felder/bahnsued.png)}
div#field_6, div#field_8, div#field_9{background-image:url(img/felder/sftuerkis.png)}
div#field_7{background-image:url(img/felder/ereignisoben.png)}
div#field_10{background-image:url(img/felder/gefaengnis.png)}
div#field_11, div#field_13, div#field_14{background-image:url(img/felder/sfpink.png)}
div#field_12{background-image:url(img/felder/elektro.png)}
div#field_15{background-image:url(img/felder/bahnwest.png)}
div#field_18{background-image:url(img/felder/gemeinrechts.png)}
div#field_16, div#field_17, div#field_19{background-image:url(img/felder/sforange.png)}
div#field_20{background-image:url(img/felder/freipark.png)}
div#field_21, div#field_23, div#field_24{background-image:url(img/felder/sfrot.png)}
div#field_22{background-image:url(img/felder/ereignisunten.png)}
div#field_25{background-image:url(img/felder/bahnnord.png)}
div#field_26, div#field_27, div#field_29{background-image:url(img/felder/sfgelb.png)}
div#field_28{background-image:url(img/felder/wasser.png)}
div#field_30{background-image:url(img/felder/polizist.png)}
div#field_31, div#field_32, div#field_34{background-image:url(img/felder/sfgruen.png)}
div#field_33{background-image:url(img/felder/gemeinlinks.png)}
div#field_35{background-image:url(img/felder/bahnhaupt.png)}
div#field_36{background-image:url(img/felder/ereignislinks.png)}
div#field_37, div#field_39{background-image:url(img/felder/sfblau.png)}
div#field_38{background-image:url(img/felder/steuerlinks.png)}







